.header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  padding-top: 20px;
  padding-bottom: 22px;
}

.header .container {
  display: flex;
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-link {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.menu {
  display: none;
}

.header-btn-list {
  display: none;
}

.menu-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.menu-icon-btn {
  fill: #173a56;
}

@media screen and (min-width: 1110px) {
  .header {
    padding: 22px 0;
    box-shadow: none;
  }

  .logo-link {
    padding: 20px 0;
  }

  .header .container {
  }

  .logo-list {
    margin-right: auto;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-item-link {
    padding: 26px 0;
    transition: font-weight, font-size 300ms ease-in;
  }

  .menu-item-link:hover,
  .menu-item-link:focus {
    font-weight: 600;
    font-size: 16px;
  }

  .menu-btn {
    display: none;
  }

  .header-btn-list {
    display: flex;
    margin-left: auto;
    gap: 21px;
    align-items: center;
  }

  .header-btn-item {
  }

  .header-btn-sign-in {
    padding: 9px 25px;
    min-width: 105px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    background-color: transparent;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out;
  }

  .header-btn-sign-in:hover,
  .header-btn-sign-in:focus {
    background-color: #bcd0e5;
  }

  .header-btn-sign-up {
    padding: 9px 25px;
    min-width: 105px;
    font-weight: 600;
    font-size: 16px;
    background-color: #02897a;
    border: none;
    color: #fff;
    border-radius: 4px;
    transition: background-color 300ms ease-in-out;
  }

  .header-btn-sign-up:hover,
  .header-btn-sign-up:focus {
    background-color: #008b8b;
  }
}
